.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.container > .header {
    margin-bottom: 30pt;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > .header .title {
    font-weight: 500;
    font-size: 24pt;
}

.container > .header .body {
    line-height: 1.5em;
    color: #888;
    margin-top: 30pt;
    font-weight: 300;
    font-size: 12pt;
    max-width: 600pt;
    text-align: justify;
}

.timeline-overlay {
    position: absolute;
    top: 0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timeline-overlay .inner {
}

.form {
    margin-top: 10pt;
}

.form > *{
    display: inline-block;
}

.btn {
    padding: 10pt 70pt;
    background-color: #0abde3;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.btn:hover {
    background-color: #48dbfb;
}

.text {
    height: calc(20pt + 19px - 2px);
    padding: 0 10pt;
    border-radius: 5px;
    border: 1px solid #D6DCE0;
    position: relative;
    top: -1px;
    margin-right: 15pt;
    width: 300pt;
}

.text:focus {
    border: 2px solid #48dbfb;
    height: calc(20pt + 19px - 4px);
    padding: 0 9pt;
}

