<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <ul class="timeline" id="timeline">
        <li class="li">
            <div class="timestamp">
                <span class="author">Шаг 1</span>
                
            </div>
            <div class="status">
                <h4> Назовите новый класс </h4>
            </div>
        </li>
        <li class="li ">
            <div class="timestamp">
                <span class="author">Шаг 2</span>
            </div>
            <div class="status">
                <h4> Добавьте образцы </h4>
            </div>
        </li>
        <li class="li ">
            <div class="timestamp">
                <span class="author">Шаг 3</span>
            </div>
            <div class="status">
                <h4> Дождитесь обучения </h4>
            </div>
        </li>
        <li class="li">
            <div class="timestamp">
                <span class="author">Готово!</span>
            </div>
            <div class="status">
                <h4> Протестируйте результат </h4>
            </div>
        </li>
    </ul>
</div>