<div class="container">

    <div class="header">
        <div class="title">Обучение - это просто!</div>
        <div class="body">
            Данный сервис позволит вам с легкостью обучить существующую нейросеть распознаванию нового класса объектов.
            <br><br>Просто укажите название нового класса, загрузите 100 или более изображений объектов этого класса и подождите, пока нейросеть дообучится. 
            После этого вы сразу же сможете протестировать работу нейросети после обучения.
        </div>
    </div>

    <div class="timeline">
        <app-page-start-timeline></app-page-start-timeline>
    </div>

    <div class="gobtn">
        <div class="btn" (click)="proceed()">Начать!</div>
    </div>

</div>