body {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: normal;
    user-select: none;
}

b {
    font-weight: 600;
}

a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}