<div class="container">
    <div class="timeline-overlay">
        <div class="inner">
            <app-steps-timeline [steps]="[true, true, true, true]"></app-steps-timeline>
        </div>

    </div>

    <div class="header">
        <div class="title">Ваша модель готова!</div>
        <div class="body">
            Осталось только проверить результат обучения. Как и на втором шаге, Вы можете либо загрузить тестовую картинку вручную, либо поручить нам загрузить пример
            из сервиса Яндекс.Картинки.
        </div>
    </div>

    <div class="content">
        <div class="loader">
            <div class="from-pc">
                Загрузить изображение с ПК: <br>
                <input type="file" accept="image/*" (change)="changeListener($event)">
                <div class="btn" (click)="loadFromPC()">загрузить с ПК</div>
            </div>
            <div class="from-yandex">
                Загрузить изображение из сервиса Яндекс.Картинки:
                <input class="text" [(ngModel)]="search_request" type="text" name="" id="" placeholder="Поисковый запрос">
                <div class="btn" (click)="loadFromYandex()" *ngIf="data.status != 'RequestTestImageFromYandex'">загрузить из Яндекс.Картинок</div>
                <div class="btn disabled" *ngIf="data.status == 'RequestTestImageFromYandex'">загрузка выполняется...</div>
            </div>
        </div>
    
        <div class="image">
            <div class="images">
                <img [src]="link()" alt="">
                
            </div>
            <div class="label">
                Кажется, на картинке <b *ngIf="data.test_result.model_solution == ''">...</b><b *ngIf="data.test_result.model_solution != ''">{{data.test_result.model_solution}}</b>
            </div>
            
        </div>
        
    </div>

    


    <div class="form">
        <div class="btn" routerLink="/images">Назад</div>
        <div class="btn" routerLink="/">Готово!</div>
    </div>


</div>