.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.container > .header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > .header .title {
    font-weight: 500;
    font-size: 24pt;
}

.container > .header .body {
    line-height: 1.5em;
    color: #888;
    margin-top: 30pt;
    font-weight: 300;
    font-size: 12pt;
    max-width: 600pt;
    text-align: justify;
}

.timeline-overlay {
    position: absolute;
    top: 0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timeline-overlay .inner {
}

.form {
    margin-top: 10pt;
}

.form > *{
    display: inline-block;
}

.btn {
    padding: 10pt 70pt;
    background-color: #0abde3;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
}



.btn:hover {
    background-color: #48dbfb;
}

.btn.disabled {

    background-color: #aaa;
    cursor: default;
}

.form .btn {
    width: 150pt;
    padding: 10pt 0;
    background-color: #0abde3;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
}
.form .btn:not(:first-child) {
    margin-left: 25pt;
}

.text {
    height: calc(20pt + 19px - 2px);
    padding: 0 10pt;
    border-radius: 5px;
    border: 1px solid #D6DCE0;
    position: relative;
    top: -1px;
    margin-right: 15pt;
    width: 300pt;
}

.text:focus {
    border: 2px solid #48dbfb;
    height: calc(20pt + 19px - 4px);
    padding: 0 9pt;
}


.loader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    
}
.loader > * {
    width: 300pt;
    display: flex;
    flex-direction: column;
    margin-bottom: 20pt;
}

.loader > * > * {
    margin: 10pt 0;
}
.loader .text {
    width: unset;
}

.loader .btn {
    padding: 10pt 20pt;
}

.images {
    border-radius: 5px;
    border: 1px solid #D6DCE0;
    width: 350pt;
    height: 250pt;
    margin-left: 25pt;
    padding: 10pt;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    position: relative;
}


.images img {
    max-width: 100%;
    max-height: 100%;
}

.content {
    display: flex;
    flex-direction: row;

    margin: 25pt 0;

}

.label {
    text-align: center;
    margin-top: 10pt;
    margin-left: 25pt;
}

